<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu_zHugPKYedJ7Uv3MxuBOf7bq3GLOiVk</string>
	<key>GCM_SENDER_ID</key>
	<string>245668840374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.ellen.Examensarbete-2024.watchkitapp</string>
	<key>PROJECT_ID</key>
	<string>examensarbete2024-6a1dc</string>
	<key>STORAGE_BUCKET</key>
	<string>examensarbete2024-6a1dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245668840374:ios:f56007ef0bb59bdb927717</string>
</dict>
</plist>